{% extends "startPrivate.html" %}
{% block content %}


    <h2>Current Catagory: {{current_cat.t_catName}}</h2>
    <!-- <h3>loged user id{{user_id}}</h3>
    <h3>item's user asociated id{{current_item.t_userId}}</h3> -->
    <div class="panel-group">

        <div class="panel panel-primary">
            <div class="panel-heading">Current Name: {{current_item.t_itemName}}</div>
            <div class="panel-body">

                <form action="{{url_for('editItemPage',item_name=current_item.t_itemName)}}" method="post">
                    <div class="form-group">
                        <label for="id_newName">New Item Name</label>
                        <input type="text" class="form-control" id="id_newName" name="newItemName" placeholder="New item name.." required>
                    </div>                    

                    <div class="form-group">
                        <label for="id_newDesc">New Discription</label>
                        <textarea id="id_newDesc" class="form-control" name="newDescription" cols="70" rows="10" placeholder="please enter the product description" required></textarea>

                    </div>   
                    
                    <div class="form-group">

                        <label for="id_newCat">New Category</label>
                        <select name="categories" id="id_newCat">
                            <option value="1">Device Accessories</option>
                            <option value="2">Automotive and Powersports</option>
                            <option value="3">Beauty</option>
                            <option value="4">Books</option>
                            <option value="5">PC Software</option>
                            <option value="6">Musical Instruments</option>
                            <option value="7">video games</option>
                        </select>
                        
                    </div>
                    <input type="submit" class="btn btn-default" value="Submit">                    
                </form>  

            </div>
        </div>

    </div>


    

{% endblock %}

