<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="title" style="background-color:cadetblue">
        <h1>Catalog App</h1>
    </div>
    <div class="itemDesc">
            <h1>{{category_name}} -- {{itempage.t_itemName}}</h1>
            <p>{{itempage.t_itemDescription}}</p>
            <p>
                <a href="{{url_for('editItemPage', item_name=itempage.t_itemName)}}">edit</a> | <a href="{{url_for('deleteItemPage',item_name=itempage.t_itemName)}}">delete</a>
            </p>
            
    </div>
</body>
</html>