<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Catalog App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .content, .sidebar{
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="title" style="background-color:cadetblue">
        <h1>Catalog App</h1>
    </div>
    
    <div class="container">
        <div class="content">
            <h1>Categories</h1>
            {% for htmlCategory in mainCategories %}
                <p>
                    <a href="http://">{{htmlCategory.t_catName}}</a>
                </p>
            {% endfor %}            
        </div>
        <div class="sidebar">
            <h1>latest items</h1>
            {% for item in mainItems %}
                <p>
                <a href="http://">{{item.t_itemName}}</a>
                {% for cati in mainCategories %}
                    {% if cati.t_id == item.t_catId %}
                    ({{cati.t_catName}})
                    {% endif %}
                {% endfor %}
                </p>
            {% endfor %}
        </div>
    </div>
</body>
</html>