<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        textarea {
            vertical-align: top;
        }
        .content, .sidebar{
            display: inline-block;
        }
        #top_title{
            display: flex;
            justify-content: space-between;
        }
    </style>
    
</head>
<body>
    <div class="top_banner" style="background-color:cadetblue">
        <h1 id="top_title"> 
            <span>Catalog App</span>      
            <span>
                    {{current_user}} |
                    <a href="{{url_for('logout')}}">logout</a>
            </span>
        </h1>
    </div>
    <h1>New Item for: {{current_cat}}</h1>
   
    <form action="{{url_for('newItemPage', category_name=current_cat)}}" method="post">
        <fieldset>
            <legend>Add new item</legend>
            <p>
                <label for="i_name">New item name</label> 
                <input type="text" id="i_name" name="item_name" placeholder="item name">
            </p>
            
            <p>
                <label for="i_description">New item description</label> 
                <textarea name="i_description" cols="70" rows="10"></textarea>
            </p>
            
            <input type="submit" value="Submit">
        </fieldset>
        
    </form>
    
</body>
</html>

 <!-- label uses the id or name to be corretcly linked

        <label for="name">Name:</label> <input type="text" id="name" name="user_name">  

        <div>
            <label for="username">Name:</label>
            <input type="text" name="username">
            <label for="username"><abbr title="required">*</abbr></label>
        </div>

        also labels can be nested
        <label for="name">
            Name: <input type="text" id="name" name="user_name">
        </label>

        for screen reader clarity 

        <p>Required fields are followed by <abbr title="required">*</abbr>.</p>

        <div>
            <label for="username">Name:</label>
            <input type="text" name="username">
            <label for="username"><abbr title="required">*</abbr></label>
        </div>
                
        <div>
            <label for="username">
            <span>Name:</span>
            <input id="username" type="text" name="username">
            <abbr title="required">*</abbr>
            </label>
        </div>
        
        
        <div>
            <label for="username">Name: <abbr title="required">*</abbr></label>
            <input id="username" type="text" name="username">
        </div>
    -->