{% extends "startPrivate.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h2>Categories</h2>
            <ul class="nav nav-pills nav-stacked">
                {% for htmlCategory in mainCategories %}
                <li>
                    <a href="{{url_for('catPage', category_name=htmlCategory.t_catName)}}">{{htmlCategory.t_catName}}</a>

                </li>
                {% endfor %}
            </ul>
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">          
                    <p><span class="label label-success">&#10004</span> marks item created by you</p>
                </li>
                <li class="list-group-item list-group-item-danger">
                <p><span class="label label-danger">&#10006</span> marks items created by others</p>
                </li>
            </ul>
        </div>

        <div class="col-sm-9">

            <h2>latest items</h2>

            <div class='flash'>
                <p>flash</p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>
                                    <strong> {{ message }} </strong>
                                </li>                            
                            {% endfor %}
                        </ul>
                    {% endif %}                
                {% endwith %}
            </div>
            
            <!-- <h3>user id: {{user_id}}</h3> 
            <p class="text-success"><span class="label label-success">&#10004</span> marks item created by you</p>
            <p class="text-danger"><span class="label label-danger">&#10006</span> marks items created by others</p>
            <div class="list-group"> -->

                {% for item in mainItems %} 
                    {% for cati in mainCategories %} 
                        {% if cati.t_id == item.t_catId %}

                            <a href="{{url_for('itemPage',category_name=cati.t_catName,item_name=item.t_itemName)}}" class="list-group-item">
                                {% if item.t_userId == user_id %}
                                    <span class="label label-success">&#10004</span>
                                {% else %}
                                    <span class="label label-danger">&#10006</span> 
                                {% endif%}
                                {{item.t_itemName}}    
                                <span class="badge">({{cati.t_catName}})</span>
                              
                            </a>

                        {% endif %} 
                    {% endfor %} 
                {% endfor %}

            </div>

        </div>
    </div>
</div>

{% endblock %}