{% extends "startPublic.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h2>Categories</h2>
            <ul class="nav nav-pills nav-stacked">
                {% for htmlCategory in catpageCategories %}
                    <p>
                        <a href="{{url_for('catPage', category_name=htmlCategory.t_catName)}}">{{htmlCategory.t_catName}}</a>
                    </p>
                {% endfor %}    
            </ul>
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">          
                    <p><span class="label label-success">&#10004</span> marks item created by you</p>
                </li>
                <li class="list-group-item list-group-item-danger">
                <p><span class="label label-danger">&#10006</span> marks items created by others</p>
                </li>
        </ul>

        </div>

        <div class="col-sm-9">

            <h2>{{catpageCatName}} ({{t_items}} items)</h2>
            <div class="list-group">

                {% for item in catpageItems %}

                    <a href="{{url_for('itemPage',category_name=catpageCatName,item_name=item.t_itemName)}}" class="list-group-item">{{item.t_itemName}} 
                        {% for cati in catpageCategories %}
                            {% if cati.t_id == item.t_catId %}
                            
                            <span class="badge">({{cati.t_catName}})</span>
                                
                            {% endif %}
                        {% endfor %}
                        
                    </a>
                {% endfor %}

            </div>

        </div>
    </div>
</div>

        

{% endblock %}

